body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
}

.profile {
  margin: auto;
  padding: 8px;
  border: 3px solid #eee;

  &__name {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__birth {
    font-size: 20px;
    color: #7c0707;
  }
}
